<!DOCTYPE html>
<html>
  <head>
    <title>Tasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
            <!-- <img src="../images/bulma.png" alt="Logo"> -->
          </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <% if user_signed_in? %>
                                    <li><%= link_to 'New project', new_project_path %></li>
                                     <li><%= link_to 'Projects', projects_path %></li>
                                    <li><%= link_to 'Tasks', tasks_path %></li>
                                      <li><a><%= "#{current_user.email}" %></a></li>
                                      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                                    <% else %>
                                      <li class="is-active"><a href='<%= root_path%>'>Home</a></li>
                                      <li><a href="">Help</a></li>
                                      <li><%= link_to 'Sign in', new_user_session_path %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
          <% if flash[:notice] %>
            <article class="message is-success">
              <div class="message-body"> <%= flash[:notice] %> </div>
            </article>
        <% end %>
          <%= yield %>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>